body{
    position: relative;
}

#field{
    margin: 1rem 5rem;
    width: 80%;
    height: 500px;
    border: solid 5px black;
    background-color: gainsboro;
    padding: 0;
    position: relative;
}


#snake{
    background: red;
    width: 10px;
    height: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0px;
    top: 0px;
}

#h, #w{
    position: absolute;
    background-color: red;
}

#h{
    width: 500px;
    height: 5px;
}

#w{
    height: 1000px;
    width: 5px;
}

.arrow{
    padding: 0.5rem;
    font-size: 3rem;
    display: none;
}

@media only screen and (max-width: 768px) {
    .arrow{
        display: inline;
    }
  }