@import "_animations.scss";

body{
    position: relative;
}


#game{
    display: none;
}

#field{
    margin: 1rem 5rem;
    width: 80%;
    height: 500px;
    border: solid 5px black;
    background-color: gainsboro;
    padding: 0;
    position: relative;
}

#snake{
    background: red;
    width: 10px;
    height: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    z-index: 10;
}

.tail{
    @extend #snake;
    z-index: 3;
    background: green !important;
}

#food{
    @extend #snake;
    background: blue;
    border-radius: 0;
}

.arrow{
    padding: 0.5rem;
    font-size: 3rem;
    display: none;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .arrow{
        display: inline;
    }
}

#modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); 
}

#modalContent{
    padding: 2rem;
    width: 40%;
    background-color: ghostwhite;
    margin: 0rem auto;
    margin-top: 10rem;
    height: 300px;
}

@media only screen and (max-width: 768px) {
    #modalContent{
        width: 80%;
    }
}